<div class="jumbotron">
  <h1 class="display-4">{{ pageTitle }}</h1>
</div>
<div *ngIf="post$ | async as post" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">
      {{ post.body }}
    </p>
    <p class="card-text">
      <small class="text-muted">Posted by user id: {{ post.userId }}</small>
    </p>
    <a class="btn btn-secondary" (click)="goBack()"
      ><i class="fa fa-chevron-left"></i> Back</a
    >
  </div>
</div>
